<%-include ('partials/header.ejs')%>
<div class="container-fluid distancia3 plano-de-fundo3">
  <%-include ('partials/navbar.ejs')%>
  <div class="row distancia d-flex m-5 align-items-center">
    <table class="table">
      <thead class="table-dark">
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">Telefone</th>
        <th scope="col">CPF</th>
        <th scope="col">E-mail</th>
        <th scope="col">Senha</th>
        <th colspan="2">Ações:</th>
      </thead>
      <tbody>
        <%professores.forEach(professor=>{%>
        <tr>
          <td><%= professor.id%></td>
          <td><%= professor.nome%></td>
          <td><%= professor.endereco%></td>
          <td><%= professor.telefone%></td>
          <td><%= professor.cpf%></td>
          <td><%= professor.email%></td>
          <td><%= professor.senha%></td>
          <td><a href="/professores/editar/<%= professor.id %>" class="btn btn-warning fw-bold">Editar</a></td>
          <td><a href="/professores/deletar/<%= professor.id %>" class="btn btn-danger fw-bold">Excluir</a></td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</div>
<%-include ('partials/footer.ejs')%>